body {
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);;
    text-align: center;
}
.header {
    padding: 20px 0;
    background-color: rgb(18, 18, 18);
    border-bottom: solid 2px;
    border-image: linear-gradient(to right, transparent, rgb(245, 197, 24), transparent) 1;

    h1 {
        margin: 0;
        display: inline-block;
        color: black;
        font-weight:bold;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(245, 197, 24);
        color: black;
    }
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .movie {
        width: 100%;
        border-bottom: rgb(82, 81, 84) solid 2px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            display: flex;
            justify-content: center;
            position: relative;
            max-width: 560px;
            width: 100%;
            padding: 10px 0;
        }

        h2 {
            margin: 0;
        }
        h3 {
            margin: 0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            gap: 5px;
        }

        p {
            font-size: large;
            margin: 10px 0;
            width: 100%;
            max-width: 560px;
        }

        img {
            width: 15px;
            height: 15px;
        }
    }
}
iframe {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16/9;
}
