@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
head {
    color: white;
}
.header {
    padding: 20px 0;
    background-color: rgb(18, 18, 18);
    border-bottom: hidden 2px;
    border-image: linear-gradient(to right, transparent, rgb(245, 197, 24), transparent) 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
}

.header a.homepage {
    font-size: 2em;
    margin: 0;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(245, 197, 24);
}
.header a.homepage:hover {
    color: black;
}
.header a {
    font-size: 1.5em;
    text-decoration: none;
    margin: 0;
    font-weight: normal;
    color: white;
}
.header a:hover {
    color: rgb(245, 197, 24);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.home {
    background-image: url("https://wallpapers.com/images/featured/movie-9pvmdtvz4cb0xl37.jpg");
    background-size: cover;
    background-position: center;
    height:75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px 10px black;
}

.movie {
    width: 100%;
    border-bottom: solid 2px;
    border-image: linear-gradient(to right, transparent, rgb(245, 197, 24), transparent) 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie h2 {
    margin: 15px 0 0 0;
}
.movie h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 0 5px 0;
}
.movie p {
    font-size: large;
    margin: 10px 0;
    width: 100%;
    max-width: 560px;
}
.movie img {
    width: 10px;
    height: 10px;
}
iframe {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16/9;
}
.contact {
    display: flex;
    justify-content: center;
    background-color: rgb(18, 18, 18);;
    color: white;
    margin: 0;
}
