body {
    margin: 0;
    padding: 0;
    background-color: grey;
    text-align: center;
}
.header {
    padding: 20px 0;
    background-color: black;
    border-bottom: yellow solid 2px;
    
}
.header h1 {
    margin: 0;
    color: white;
    font-weight: normal;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.container .movie {
    margin-bottom: 20px;
    width: 600px;
    background-color: #a7a7a7;
    border: yellow solid 2px;
}
iframe {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16/9;
}
p {
    font-size: large;
}
h2 {
    font-weight: normal;
}
