@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
head {
    color: white;
}
.header {
    padding: 20px 0;
    background-color: rgb(18, 18, 18);
    border-bottom: hidden 2px;
    border-image: linear-gradient(to right, transparent, rgb(245, 197, 24), transparent) 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header .genre {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.header a.homepage {
    font-size: 2em;
    margin: 0;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(245, 197, 24);
}
.header a.homepage:hover {
    color: black;
}
.header a {
    font-size: 1.5em;
    text-decoration: none;
    margin: 0;
    font-weight: normal;
    color: white;
}
.header a:hover {
    color: rgb(245, 197, 24);
}

.container {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(31, 31, 31);
}
.movie {
    width: 100%;
    border-bottom: solid 2px;
    border-image: linear-gradient(to right, transparent, rgb(245, 197, 24), transparent) 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie h2 {
    margin: 15px 0 0 0;
}
.movie h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 0 5px 0;
}
.movie p {
    font-size: large;
    margin: 10px 0;
    width: 100%;
    max-width: 560px;
}
.movie img.star {
    width: 15px;
    height: 15px;
}
iframe {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16/9;
    border: 0;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 30px 10px;
}

.contact a {
    color: white;
}

.contact p {
    margin: 0;
}

.home {
    margin-top: 98px;
    padding: 40px;
    background-color: rgb(31, 31, 31);
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.home a {
    position: relative;
    height: 250px;
    width: 100%;
    text-decoration: none;
    background-color: rgb(18, 18, 18);
    color: white;
}

.home a h1 {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    transition: filter 0.3s ease;
    object-position: 50% 50%;
}
.home a img.top {
    object-position: 50% top;
}
.home a img.between {
    object-position: 50% 25%;
}

.home a:hover img {
    filter: brightness(75%);
}


@media (max-width: 798px) {
    .container {
        margin-top: 168px;
    }

    .home-grid {
        grid-template-columns: 1fr;
    }

    .home-grid a {
        height: 200px;
    }
}
